@{
    ViewData["Title"] = "Clubs Master";
    Layout = "_AdminLayout";
}

<div class="page-container">
    <div class="form-card">

        <div class="page-header-card">
            <h4 class="page-title">Clubs Master</h4>
            <button type="button" class="btn btn-primary view-btn clsView" onclick="Add()">Add</button>
            <button type="button" class="btn btn-primary view-btn clsAdd clsEdit" onclick="View()">View</button>
        </div>

        <div class="row g-4 clsView">
            <div class="col-lg-12">
                <table id="tblGrid" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Clubs</th>
                            <th>Full Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="clsAdd clsEdit">
            <div class="row g-4 ">
                <input type="hidden" id="Key" value="" />

                <div class="col-lg-6">
                    <label>Clubs</label>
                    <input type="text" id="Clubs" class="form-control">
                </div>

                <div class="col-lg-6">
                    <label>Full Name</label>
                    <input type="text" id="FullName" class="form-control">
                </div>

                <div class="col-lg-6">
                    <label>Display Order</label>
                    <input type="number" id="DisplayOrder" class="form-control" value="1">
                </div>

                <div class="col-lg-12">
                    <label>Description</label>
                    <textarea id="Description" class="form-control"></textarea>
                </div>

            </div>

            <div class="action-buttons">
                <button class="btn-cancel clsAdd" onclick="resetForm()">Cancel</button>
                <button class="btn-submit clsAdd" onclick="Save()">Save</button>
                <button class="btn-submit clsEdit" onclick="Save()">Update</button>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#Description').summernote({
            height: 200,
            placeholder: 'Write description here...',
            toolbar: [
                ['style', ['bold', 'italic', 'underline']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]
        });
    });
</script>


<script>
    $(document).ready(function () {
        View()
    });

     function resetForm() {
        $('#Key').val('')
        $('#Clubs').val('');
        $('#FullName').val('');
        $('#DisplayOrder').val(0);

        if (typeof $('#Description').summernote === 'function') {
            $('#Description').summernote('code', '');
        } else {
            $('#Description').val('');
        }
    }

    function View(){
        resetForm()
        $(".clsView").show();
        $(".clsAdd, .clsEdit").hide();
        LoaderShow();
        Grid();
        LoaderHide();
    }

    function Add(){
        resetForm()
        $(".clsView, .clsEdit").hide();
        $(".clsAdd").show();
    }

    function Edit(Id){
        resetForm()
        $(".clsView, .clsAdd").hide();
        $(".clsEdit").show();
        $('#Key').val(Id)
        LoaderShow();
        $.ajax({
            url: '/Admin/GetClubsMasterById',
            type: 'GET',
            data: { Id: Id },
            success: function(response) {
                if(response.message === "Success") {
                    var data = JSON.parse(response.result);

                    $('#Clubs').val(data.Clubs);
                    $('#FullName').val(data.FullName);
                    $('#DisplayOrder').val(data.DisplayOrder);
                    $('#Description').val(data.Description);

                    if (typeof $('#Description').summernote === 'function') {
                        $('#Description').summernote('code', data.Description);
                    }
                } else {
                    alert('Failed to load data.');
                }
                LoaderHide();
            },
            error: function(err) {
                console.error(err);
                alert('Error while loading data.');
                LoaderHide();
            }
        });
    }

     function Save() {
        var Clubs = $('#Clubs').val().trim();
        var FullName  = $('#FullName').val().trim();
        var DisplayOrder  = $('#DisplayOrder').val().trim();
        var Description  = (typeof $('#Description').summernote === 'function')
                         ? $('#Description').summernote('code').trim()
                         : $('#Description').val().trim();

        // Validation
        if(Clubs === ""){
            alert('Please enter Clubs.');
            $('#Clubs').focus();
            return;
        }

        if(FullName === ""){
            alert('Please enter FullName.');
            $('#FullName').focus();
            return;
        }

        if(DisplayOrder === 0){
            alert('Please enter DisplayOrder.');
            $('#DisplayOrder').focus();
            return;
        }

        if(Description === "" || Description === "<p><br></p>"){
            alert('Please enter Description.');
            if(typeof $('#Description').summernote === 'function'){
                $('#Description').summernote('focus');
            } else {
                $('#Description').focus();
            }
            return;
        }

        var data = {
            Id: ($('#Key').val() != "" ? $('#Key').val() : 0),
            Clubs: Clubs,
            FullName: FullName,
            Description: Description,
            DisplayOrder: DisplayOrder,
        }

        LoaderShow();
        $.ajax({
            url: '/Admin/SaveClubsMaster',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(response){
                alert(response.message);
                if(response.message.includes("Successfully")){
                    View();
                }
                LoaderHide();
            },
            error: function(err){
                console.error(err);
                alert('Error while saving data.');
                LoaderHide();
            }
        });
    }


    function StatusUpdate(Id, status) {
        LoaderShow();
        $.ajax({
            url: '/Admin/StatusUpdateClubsMaster',
            type: 'POST',
            data: { Id: Id, IsStatus: status },
            success: function(response){
                alert(response.message);
                if(response.message.includes("Successfully")){
                    View();
                }
                LoaderHide();
            },
            error: function(err){
                console.error(err);
                alert('Error while saving data.');
                LoaderHide();
            }
        });
    }

    function Grid(){
        if ($.fn.DataTable.isDataTable('#tblGrid')) {
            $('#tblGrid').DataTable().destroy();
            $('#tblGrid tbody').empty();
        }

        $('#tblGrid').DataTable({
            ajax: {
                url: '/Admin/GetClubsMaster',
                type: 'GET',
                dataSrc: ''
            },
            pageLength: 10,
            lengthMenu: [5, 10, 25, 50],
            searching: true,
            ordering: true,
            responsive: true,

            columns: [
                {
                    data: "clubs",
                    title: "Clubs",
                    render: function(data, type, row) {
                        if (!data) return '';
                        // Replace underscores with spaces
                        return data.replace(/_/g, ' ');
                    }
                },
                { data: "fullName", title: "Full Name" },
                { data: "status", title: "Status" },
                {
                    data: null,
                    title: "Action",
                    orderable: false,
                    searchable: false,
                    render: function (data, type, row) {
                        let actionHtml ='';

                        if (row.status === true) {
                            actionHtml = `<a href="javascript:void(0);"onclick="Edit(${row.id})"class="text-primary me-2" title="Edit"><i class="bi bi-pencil-square fs-5"></i></a>`;
                            actionHtml += `<a href="javascript:void(0);"onclick="StatusUpdate(${row.id}, false)"class="text-danger" title="Delete"><i class="bi bi-trash fs-5"></i></a>`;
                        } else {
                            actionHtml += `<a href="javascript:void(0);"onclick="StatusUpdate(${row.id}, true)"class="text-success" title="Activate"><i class="bi bi-check-circle fs-5"></i></a>`;
                        }
                        return actionHtml;
                    }
                }
            ]
        });
    }

</script>