<!DOCTYPE html>
<html lang="zxx" class="theme-light">
<!-- Mirrored from templates.hibootstrap.com/sanu/default/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Oct 2025 14:37:44 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap Css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!--Mean menu.css-->
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <!--Owl carousel-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--Owl Theme-->
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <!--=== Magnific Popup Min CSS ===-->
    <link rel="stylesheet" href="~/css/magnific-popup.min.css">
    <!--Flat icon-->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <!--Remix icon-->
    <link rel="stylesheet" href="~/css/remixicon.css">
    <!--Odometer-->
    <link rel="stylesheet" href="~/css/odometer.min.css">
    <!--Aos css-->
    <link rel="stylesheet" href="~/css/aos.css">
    <!--Style css-->
    <link rel="stylesheet" href="~/css/style.css">
    <!--Dark css-->
    <link rel="stylesheet" href="~/css/dark.css">
    <!--Responsive css-->
    <link rel="stylesheet" href="~/css/responsive.css">

    <!--=== Title ===-->
    <title>SMKC</title>
    <link rel="icon" type="image/png" href="~/images/favicon.png">
</head>
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <!-- Start Preloader Area -->
    <div class="preloader-area" style="display: none;">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    <!--Start Top Header Area-->
    <div class="top-header-area">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content">
                        <p>Get the latest updates and Sanu's response to COVID-19</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header-right-content">
                        <div class="list">
                            <ul>
                                <li><a href="graduate-admission.html">Students</a></li>
                                <li><a href="campus-life.html">Faculty &amp; Staff</a></li>
                                <li><a href="admission.html">Visitors</a></li>
                                <li><a href="academics.html">Academics</a></li>
                                <li><a href="alumni.html">Alumni</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Top Header Area-->
    <!-- Start Navbar Area -->
    <div class="navbar-area nav-bg-2">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a href="index-3.html">
                            <img src="~/images/logo.png" class="main-logo" lt="logo">
                            <img src="~/images/white-logo.png" class="white-logo" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="desktop-nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index-3.html">
                        <img src="~/images/logo.png" class="main-logo" alt="logo">
                        <img src="~/images/white-logo.png" class="white-logo" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="display: block;">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">
                                    Home
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="index.html" class="nav-link">Home One</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-2.html" class="nav-link">Home Two</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-3.html" class="nav-link">Home Three</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-4.html" class="nav-link active">Home Four</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="index-5.html" class="nav-link">Home Five</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Pages
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="graduate-admission.html" class="nav-link">Graduate Admission</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="campus-life.html" class="nav-link">Campus Life</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="alumni.html" class="nav-link">Alumni</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">
                                            Academics
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="academics.html" class="nav-link">Academics</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="academics-details.html" class="nav-link">Academics Details</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">
                                            Latest News
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="latest-news.html" class="nav-link">Our Latest News</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="news-details.html" class="nav-link">News Details</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a href="faq.html" class="nav-link">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle">
                                            Users
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="login.html" class="nav-link">Login</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="register.html" class="nav-link">Register</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="recover-password.html" class="nav-link">Recover Password</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="terms-conditions.html" class="nav-link">Terms And Conditions</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="coming-soon.html" class="nav-link">Coming Soon</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="404.html" class="nav-link">404 Page</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Courses
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="courses.html" class="nav-link">Courses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="courses-details.html" class="nav-link">Courses Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Health Care
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="health-care.html" class="nav-link">Health Care</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="health-care-details.html" class="nav-link">Health Care Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
                                    Events
                                </a>

                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="events.html" class="nav-link">Events</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="events-details.html" class="nav-link">Events Details</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="contact-us.html" class="nav-link">Contact Us</a>
                            </li>
                        </ul>

                        <div class="others-options">
                            <div class="icon">
                                <i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div class="others-option-for-responsive">
            <div class="container">
                <div class="dot-menu">
                    <div class="inner">
                        <div class="icon">
                            <i class="ri-menu-3-fill" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    @RenderBody()
    
    <!--=== Jquery Min js ===-->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <!--=== Bootstrap bundle Min js ===-->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!--=== MeanMenu js ===-->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!--=== Owl Carousel Min js ===-->
    <script src="~/js/owl.carousel.min.js"></script>
    <!--=== Owl Carousel Thumbs Min js ===-->
    <script src="~/js/carousel-thumbs.min.js"></script>
    <!--=== Magnific popup Min js ===-->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Aos js -->
    <script src="~/js/aos.js"></script>
    <!-- Odometer js -->
    <script src="~/js/odometer.min.js"></script>
    <!-- Appear js -->
    <script src="~/js/appear.min.js"></script>
    <!-- Form Validator js -->
    <script src="~/js/form-validator.min.js"></script>
    <!-- Contact Form Script js -->
    <script src="~/js/contact-form-script.js"></script>
    <!--=== AjaxChimp js ===-->
    <script src="~/js/ajaxchimp.min.js"></script>
    <!--=== Custom js ===-->
    <script src="~/js/custom.js"></script>
    <div class="switch-box"><label id="switch" class="switch"><input type="checkbox" onchange="toggleTheme()" id="slider"><span class="slider round"></span></label></div>



</body><!-- Mirrored from templates.hibootstrap.com/sanu/default/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Oct 2025 14:38:46 GMT -->
</html>