@{
    ViewData["Title"] = "Events & Gallery";
}

<!--Start Page Banner-->
<div class="page-banner-area bg-1">
    <div class="container">
        <div class="page-banner-content">
            <h1>Events</h1>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>Events & Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--End Page Banner-->
<!--Start Events Area-->
<div class="events-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-1.jpg" alt="Image">
                        <div class="date">
                            <span>28</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar></p>
                        </div>
                        <h3>Planning And Facilitating Effective Meetings</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-2.jpg" alt="Image">
                        <div class="date">
                            <span>29</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar></p>
                        </div>
                        <h3>Regular WordPress Meetup In New Jersey, USA</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-3.jpg" alt="Image">
                        <div class="date">
                            <span>30</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</p>
                        </div>
                        <h3>Monday Night Concert In Lake View,Mountain City</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-4.jpg" alt="Image">
                        <div class="date">
                            <span>30</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</p>
                        </div>
                        <h3>University Admissions Could Face Emergency Controls</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-5.jpg" alt="Image">
                        <div class="date">
                            <span>30</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</p>
                        </div>
                        <h3>The Complete Digital Marketing Course - 12 Courses In 1</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-events-card style-4">
                    <div class="events-image">
                        <img src="~/images/events/events-6.jpg" alt="Image">
                        <div class="date">
                            <span>30</span>
                            <p>Mar</p>
                        </div>
                    </div>
                    <div class="events-content">
                        <div class="admin">
                            <p><i class="flaticon-student-with-graduation-cap"></i>Raymond Salazar</p>
                        </div>
                        <h3>The Python Mega Course: Build 10 Real World Applications</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Events Area-->

<script>
    $(document).ready(function(){
        $("#navbarSupportedContent .nav-link").removeClass("active");
        $("#navbarSupportedContent .clsMenu-CampusLife").addClass("active");
        $("#navbarSupportedContent .clsMenu-EventsGallery").addClass("active");
    });
</script>