@{
    ViewData["Title"] = "Programmes Offered";
}

<!--Start Page Banner-->
<div class="page-banner-area bg-1">
    <div class="container">
        <div class="page-banner-content">
            <h1>Programmes Offered</h1>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>Programmes Offered</li>
            </ul>
        </div>
    </div>
</div>
<!--End Page Banner-->

<!--Start Courses Area-->
<div class="courses-area pt-100 pb-70">
    <div class="container">

        <!-- Undergraduate Programmes -->
        <div>
            <h2 class ="mb-4">Undergraduate Programmes (UG)</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-left-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Sc(Computer Science)"><img src="~/images/courses/courses-1.jpg" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Sc(Computer Science)"><h3>B.Sc(Computer Science)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/BCA"><img src="~/images/courses/courses-2.jpg" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/BCA"><h3>BCA</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/BBA"><img src="~/images/courses/courses-3.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/BBA"><h3>BBA</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (General)"><img src="~/images/courses/courses-4.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (General)"><h3>B.Com (General)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Accounting & Finance)"><img src="~/images/courses/courses-5.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Accounting & Finance)"><h3>B.Com (Accounting & Finance)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Bank Management)"><img src="~/images/courses/courses-6.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Bank Management)"><h3>B.Com (Bank Management)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Corporate Secretaryship)"><img src="~/images/courses/courses-7.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Corporate Secretaryship)"><h3>B.Com (Corporate Secretaryship)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Computer Application)"><img src="~/images/courses/courses-11.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Computer Application)"><h3>B.Com (Computer Application)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/BSC (Software Applications)"><img src="~/images/courses/courses-12.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/BSC (Software Applications)"><h3>BSC (Software Applications)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Information System Management)"><img src="~/images/courses/courses-10.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Information System Management)"><h3>B.Com (Information System Management)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.Com (Marketing Management)"><img src="~/images/courses/courses-13.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.Com (Marketing Management)"><h3>B.Com (Marketing Management)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-courses-card style4">
                                <div class="courses-img">
                                    <a href="~/Departments/B.A(Criminology & Police Administration)"><img src="~/images/courses/courses-14.png" alt="Image"></a>
                                </div>
                                <div class="courses-content">
                                    <a href="~/Departments/B.A(Criminology & Police Administration)"><h3>B.A(Criminology & Police Administration)</h3></a>
                                    <div class="bottom-content">
                                        <ul class="d-flex justify-content-between">
                                            <li>
                                                <ul>
                                                    <li><i class="flaticon-graduation"></i>321</li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Postgraduate Programmes -->
        <div class="mt-5">
            <h2 class="mb-4">Postgraduate Programmes (PG)</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-courses-card style4">
                    <div class="courses-img">
                        <a href="~/Departments/M.Com (General)"><img src="~/images/courses/courses-15.png" alt="Image"></a>
                    </div>
                    <div class="courses-content">
                        <a href="~/Departments/M.Com (General)"><h3>M.Com (General)</h3></a>
                        <div class="bottom-content">
                            <ul class="d-flex justify-content-between">
                                <li>
                                    <ul>
                                        <li><i class="flaticon-graduation"></i>321</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-courses-card style4">
                    <div class="courses-img">
                        <a href="~/Departments/M.Sc(Computer Science)"><img src="~/images/courses/courses-16.png" alt="Image"></a>
                    </div>
                    <div class="courses-content">
                        <a href="~/Departments/M.Sc(Computer Science)"><h3>M.Sc(Computer Science)</h3></a>
                        <div class="bottom-content">
                            <ul class="d-flex justify-content-between">
                                <li>
                                    <ul>
                                        <li><i class="flaticon-graduation"></i>321</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="#" data-bs-toggle="tooltip" title="Syllabus"><i class="flaticon-case-study"></i></a>&nbsp;</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End Courses Area-->

<script>
    $(document).ready(function(){
        $("#navbarSupportedContent .nav-link").removeClass("active");
        $("#navbarSupportedContent .clsMenu-Academics").addClass("active");
        $("#navbarSupportedContent .clsMenu-ProgrammesOffered").addClass("active");

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.forEach(function (tooltipTriggerEl) {
            new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>