@using College.Entities
@model List<DepartmentsMaster>

@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Start Page Banner-->
<div class="page-banner-area bg-1">
    <div class="container">
        <div class="page-banner-content">
            <h1>Departments</h1>
            <ul>
                <li><a href="~/">Home</a></li>
                <li>Departments</li>
            </ul>
        </div>
    </div>
</div>
<!--End Page Banner-->
<!--Start Courses Area-->
<div class="courses-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-left-content">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            <div class="col-lg-6 col-md-6">
                                <div class="single-courses-card style4">
                                    <div class="courses-img">
                                        <a href="~/DepartmentDetails/@item.Id"><img src="@Url.Content(item.ImagePath)" alt="Image"></a>
                                    </div>
                                    <div class="courses-content">
                                        <a href="~/DepartmentDetails/@item.Id"><h3>@item.Department</h3></a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--End Courses Area-->

<script>
    $(document).ready(function(){
        $("#navbarSupportedContent .nav-link").removeClass("active");
        $("#navbarSupportedContent .clsMenu-Academics").addClass("active");
        $("#navbarSupportedContent .clsMenu-Departments").addClass("active");
    });
</script>