.header-left-content {width: 100%;overflow: hidden;white-space: nowrap;box-sizing: border-box;padding: 8px 0;}
.header-left-content p {display: inline-block;padding-left: 100%;animation: marquee 10s linear infinite;}

.footer-widjet .list ul {
padding-left: 0;
margin-bottom: 0;
}

.footer-widjet .list ul li {
list-style-type: none;
margin-bottom: 10px;
}

.footer-widjet .list ul li:last-child {
margin-bottom: 0;
}

.footer-widjet .list ul li a {
color: #ffffff;
transition: all ease 0.5s;
}

.footer-widjet .list ul li a:hover {
color: #e32845;
}

.footer-widjet h3 {
    font-size: 20px;
    margin-bottom: 18px;
}

.footer-widjet .list ul li a {
    font-size: 14px;
}

@keyframes marquee {
    0% {transform: translateX(0);}100% {transform: translateX(-100%);}
}
